HUBSPOT_ACCESS_TOKEN=replace_with_your_hubspot_service_key
SALESFORCE_MCP_CLIENT_ID=replace_with_external_client_app_consumer_key
SALESFORCE_MCP_ENVIRONMENT=sandbox
SALESFORCE_LOGIN_URL=https://test.salesforce.com
SALESFORCE_API_VERSION=v61.0
SALESFORCE_BULK_REDIRECT_URI=http://localhost:8080/oauth/callback
